@media only screen and (max-width: 1400px) {
    .feedbacks {
        padding-top: 100px;
        width: 100%;
        height: 730px;
        background-image: url(../assets/pics/feedback_bg.jpg);
        .feedhead {
            text-align: center;
            color: #fff;
            margin-bottom: 40px;
            font-size: 32px;
            word-spacing: 8px;
        }
        .feed_cont {
            background-color: rgba(0, 0, 0, 0.5);
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            margin: 0 auto;
            height: 320px;
            width: 90%;
            align-items: center;
            font-family: "Josefin Sans";
            .name_f {
                padding-bottom: 30px;
                font-size: 32px;
            }
            .feed_pic{
                padding-left: 20px;
                padding-right: 20px;
                padding-top: 20px;
                height: 100%;
            }
            .feed_text {
                color: #fff;
                line-height: 28px;
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
    .icoroll {
        padding-top: 50px;
        text-align: center;
        width: 100%;
        height: 330px;
        background-color: rgba(50,50,50);
        font-family: "Aleo";
        .icon_cont {
            color: #fff;
            font-size: 46px;
            word-spacing: 10px;
            position: relative;
            margin: 0 auto;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            width: 80%;
            height: 70%;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -ms-flex-pack: distribute;
                justify-content: space-around;
            .bow {
                width: 30%;
                margin-top: -140px;
                margin-left: -200px;
                margin-right: -200px;
            }
    
            img {
                margin-bottom: 10px;
            }
    
        }
    }
    
}

@media screen and (max-width: 1200px)  {
    .feedbacks {
        padding-top: 100px;
        width: 100%;
        height: 730px;
        background-image: url(../assets/pics/feedback_bg.jpg);
        .feedhead {
            text-align: center;
            color: #fff;
            margin-bottom: 40px;
            font-size: 32px;
            word-spacing: 8px;
        }
        .feed_cont {
            background-color: rgba(0, 0, 0, 0.5);
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            margin: 0 auto;
            height: 380px;
            width: 90%;
            align-items: center;
            font-family: "Josefin Sans";
            .name_f {
                padding-bottom: 30px;
                font-size: 32px;
            }
            .feed_pic{
                padding-left: 20px;
                padding-right: 20px;
                padding-top: 20px;
                height: 100%;
            }
            .feed_text {
                color: #fff;
                line-height: 28px;
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
    

.feedbacks {
    padding-top: 100px;
    width: 100%;
    height: 730px;
    background-image: url(../assets/pics/feedback_bg.jpg);
    .feedhead {
        text-align: center;
        color: #fff;
        margin-bottom: 40px;
        font-size: 32px;
        word-spacing: 8px;
    }
    .feed_cont {
        background-color: rgba(0, 0, 0, 0.5);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin: 0 auto;
        height: 320px;
        width: 80%;
        align-items: center;
        font-family: "Josefin Sans";
        .name_f {
            padding-bottom: 30px;
            font-size: 32px;
        }
        .feed_pic{
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 20px;
            height: 100%;
        }
        .feed_text {
            color: #fff;
            line-height: 28px;
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}


    .icoroll {
        padding-top: 50px;
        text-align: center;
        width: 100%;
        height: 330px;
        background-color: rgba(50,50,50);
        font-family: "Aleo";
        .icon_cont {
            color: #fff;
            font-size: 36px;
            word-spacing: 10px;
            position: relative;
            margin: 0 auto;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            width: 85%;
            height: 70%;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -ms-flex-pack: distribute;
                justify-content: space-around;
            .bow {
                width: 30%;
                margin-top: -140px;
                margin-left: -200px;
                margin-right: -200px;
            }
    
            img {
                margin-bottom: 10px;
            }
    
        }
    }
    
    
    .whyus {
        width: 100%;
        height: 680px;
        background-image: url(../assets/pics/whyusbg.jpg);
        padding-top: 100px;
        .whyiscontent {
            display: flex;
            color: #fff;
            width: 85%;
            margin: 0 auto;
            .whyustext {
                padding-top: 40px;
                width: 30%;
            }
            .whyuspics {
                margin: 0 auto;
                padding-left: 20px;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(2, 1fr);
                grid-column-gap: px;
                grid-row-gap: 0px;  
                .whyusfirstpic {
                    grid-area: 1 / 1 / 2 / 4;
                }
                .whyussecpic {
                    grid-area: 2 / 1 / 3 / 4;
                }
            }
            .whyusarticle {
                height: 80%;
            }
        }
    }

    .nav {
        display: flex;
        height: 80px;
        width: 100%;
        background-color: rgba(84,116,253);
        .nav_items {
            display: flex;
            justify-content: space-around;
            width: 100%;
            margin: 0 auto;
            padding-left: 130px;
            .logotext {
                display: flex;
                justify-content: center;
                color: #fff;
                width: 200px;
                align-items: center;
                margin-right: 100px;
            }
            .navroll {
                margin: 0 auto;
                align-items: center;
                display: flex;
                justify-content: space-around;
                gap: 30px;
                width: 60%;
                li a {
                    color: #fff;
                    font-size: 14px;
                }
            }
        }
    
        #hamburger_menu{
            display: none;
            a {
                display: inline-block;
            }
        }
    }
    
}

@media screen and (max-width: 948px) {
    header {
        display: flex;
        align-items: center;
        width: 100%;
        height: 760px;
        margin: 0 auto;
        background-image: url(../assets/pics/headerbg.jpg);
        background-size: cover;
        font-family: 'Josefin Sans', sans-serif;
        font-family: 'Raleway', sans-serif;
        letter-spacing: 3px;
        .headerform {
            width: 660px;
            height: 360px;
            margin: 0 auto;
            h1 {
                color: #fff;
                text-align: center;
                font-size: 50px;
            }
            .header_text {
                color: #fff;
                text-align: center;
            }
            .header_input {
                padding-top: 50px;
                text-align: center;
                width: 95%;
                margin: 0 auto;
                .headfield {
                    text-align: center;
                    height: 60px;
                    width: 65%;
                }
                .headbtn {
                    height: 60px;
                    width: 25%;
                    background-color: rgba(84,116,253);
                    border: 2px solid #fff;
                    color: #fff;
                }
            }
        }
    } 
    
.nav {
    display: flex;
    height: 80px;
    width: 100%;
    background-color: rgba(84,116,253);
    .nav_items {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
        padding-left: 10px;
        .logotext {
            display: flex;
            justify-content: center;
            color: #fff;
            width: 200px;
            align-items: center;
            margin-right: 0px;
        }
        .navroll {
            margin: 0 auto;
            align-items: center;
            display: flex;
            justify-content: space-around;
            gap: 10px;
            width: 90%;
            margin-left: 20px;
            li a {
                color: #fff;
            }
        }
  }
  
}

.icoroll {
    padding-top: 100px;
    text-align: center;
    width: 100%;
    height: 330px;
    background-color: rgba(50,50,50);
    .icon_cont {
        color: #fff;
        font-size: 22px;
        position: relative;
        margin: 0 auto;
        display: flex;
        width: 80%;
        height: 70%;
        align-items: center;
        justify-content: space-around;
        .bow {
            width: 30%;
            margin-top: -140px;
            margin-left: -200px;
            margin-right: -200px;
        }
    }
}

.feedbacks {
  padding-top: 110px;
  width: 100%;
  height: 730px;
  background-image: url(../assets/pics/feedback_bg.jpg);
  .feedhead{
      text-align: center;
      color: #fff;
      margin-bottom: 50px;
  }
  .feed_cont{
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
      height: 360px;
      width: 90%;
      align-items: center;
      .feed_pic{
          padding-top: 20px;
          height: 100%;
      }
      .feed_text {
          color: #fff;
          font-size: 16px;
          line-height: 20px;
      }
  }
}
.feedbacks {
    padding-top: 120px;
    width: 100%;
    height: 730px;
    background-image: url(../assets/pics/feedback_bg.jpg);
    .feedhead{
        text-align: center;
        color: #fff;
        margin-bottom: 50px;
    }
    .feed_cont{
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        margin: 0 auto;
        height: 520px;
        width: 80%;
        align-items: center;
        padding-bottom: 20px;
        .feed_pic{
            margin: 0 auto;
            padding-top: 20px;
            height: 100%;
        }
        .feed_text {
            color: #fff;
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}
}

@media only screen and (max-width: 828px) {
    .icoroll {
        padding-top: 100px;
        text-align: center;
        width: 100%;
        height: 330px;
        background-color: rgba(50,50,50);
        .icon_cont {
            color: #fff;
            font-size: 24px;
            position: relative;
            margin: 0 auto;
            display: flex;
            width: 95%;
            height: 70%;
            align-items: center;
            justify-content: space-between;
            .bow {
                width: 30%;
                margin-top: -140px;
                margin-left: -200px;
                margin-right: -200px;
            }
        }
    }


    .booking_first {
        padding-top: 200px;
        width: 100%;
        height: 700px;
        background-image: url(../assets/pics/book_firstbg.jpg);
        .bfirst_cont {
            text-align: center;
            color: #fff;
            width: 70%;
            display: flex;
            margin: 0 auto;
            justify-content: center;
            .bfirst_tfield {
                width: 80%;
                height: 400px;
                background-color: rgba(0,0,0, 0.8);
            }
            .bookbtn {
                width: 230px;
                height: 60px;
                background: rgb(73,107,254);
                background: linear-gradient(51deg, rgba(73,107,254,1) 35%, rgba(97,151,252,1) 35%);
                border: none;
                color: #fff;
                cursor: pointer;
            }
        }
    }
    
    .booking_second {
        padding-top: 200px;
        width: 100%;
        height: 700px;
        background-image: url(../assets/pics/book_secondbg.jpg);
        .bsecond_cont {
            text-align: center;
            color: #fff;
            width: 70%;
            display: flex;
            justify-content: center;
            margin: 0 auto;
            .bsecond_tfield {
                width: 80%;
                height: 400px;
                background-color: rgba(0,0,0, 0.8);
            }
            .bookbtn {
                width: 230px;
                height: 60px;
                background: rgb(73,107,254);
                background: linear-gradient(51deg, rgba(73,107,254,1) 35%, rgba(97,151,252,1) 35%);
                border: none;
                color: #fff;
                cursor: pointer;
            }
        }
    }

  .whyus {
    width: 100%;
    height: 680px;
    background-image: url(../assets/pics/whyusbg.jpg);
    padding-top: 100px;
    .whyiscontent {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;
        width: 95%;
        margin: 0 auto;
        .whyustext {
            padding-top: 40px;
            width: 100%;
        }
        .whyuspics {
          margin: 0 auto;
          display: flex;
          display: flex;
          padding-left: 0px;
          .whyusfirstpic {
            display: flex;
            justify-content: center;
            text-align: center;  
          }
          .whyussecpic {
              display: none;
              margin: 0 auto;
          }
      }
      .whyusarticle {
          height: 80%;
      }
      .whyusbtn {
        margin: 0 auto;
        margin-bottom: 20px;;
      }
      }
    }

  .nav {
    display: flex;
    height: 80px;
    width: 100%;
    background-color: rgba(84,116,253);
    .nav_items {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
        .logotext {
            display: flex;
            justify-content: center;
            color: #fff;
            width: 200px;
            align-items: center;
        }
        .navroll {
            display: none;
        }
    }
    #hamburger_menu{
      display: flex;
      align-items: center;
      padding-right: 10px;
    }
  }
  
}

@media only screen and (max-width: 640px) {
    .feedbacks {
        padding-top: 100px;
        width: 100%;
        height: 730px;
        background-image: url(../assets/pics/feedback_bg.jpg);
        .feedhead {
            text-align: center;
            color: #fff;
            margin-bottom: 40px;
            font-size: 32px;
            word-spacing: 8px;
        }
        .feed_cont {
            background-color: rgba(0, 0, 0, 0.5);
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            margin: 0 auto;
            height: 320px;
            width: 90%;
            align-items: center;
            font-family: "Josefin Sans";
            .feed_pic{
                display: none;
            }
            .feed_text {
                padding-top: 60px;
                color: #fff;
                padding-left: 20px;
                padding-right: 20px;
                font-size: 14px;
                line-height: 18px;
            }
        }
    }
    

    .icoroll {
        padding-top: 50px;
        text-align: center;
        width: 100%;
        height: 330px;
        background-color: rgba(50,50,50);
        font-family: "Aleo";
        .icon_cont {
            color: #fff;
            font-size: 14px;
            word-spacing: 10px;
            position: relative;
            margin: 0 auto;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            width: 100%;
            height: 70%;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -ms-flex-pack: distribute;
                justify-content: space-between;
            .bow {
                width: 26%;
                margin-top: -140px;
                margin-left: -200px;
                margin-right: -200px;
            }
    
            img {
                margin-bottom: 10px;
            }
    
        }
    }
    

    .whyus {
    width: 100%;
    height: 680px;
    background-image: url(../assets/pics/whyusbg.jpg);
    padding-top: 100px;
    .whyiscontent {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;
        width: 95%;
        margin: 0 auto;
        .whyustext {
            padding-top: 40px;
            width: 100%;
        }
        .whyuspics {
            display: none;
            margin: 0 auto;
          .whyusfirstpic {
            display: none;
            margin: 0 auto; 
          }
          .whyussecpic {
              display: none;
              margin: 0 auto;
          }
      }
      .whyusarticle {
          height: 80%;
      }
      .whyusbtn {
        margin: 0 auto;
        margin-bottom: 20px;;
      }
    }
}
    .booking_first {
        padding-top: 200px;
        width: 100%;
        height: 700px;
        background-image: url(../assets/pics/book_firstbg.jpg);
        .bfirst_cont {
            color: #fff;
            width: 90%;
            display: flex;
            margin: 0 auto;
            .bfirst_tfield {
                padding-top: 50px;
                padding-left: 32px;
                padding-right: 22px;
                width: 90%;
                height: 400px;
                background-color: rgba(0,0,0, 0.8);
                .country{
                    margin-bottom: 28px;
                }
                .hotelname{
                    margin-bottom: 28px;
                }
                .hotel_descr{
                    margin-bottom: 30px;
                }
            }
            .bookbtn {
                width: 230px;
                height: 60px;
                background: rgb(73,107,254);
                background: linear-gradient(51deg, rgba(73,107,254,1) 35%, rgba(97,151,252,1) 35%);
                border: none;
                color: #fff;
                cursor: pointer;
            }
        }

    }
    
    .booking_second {
        padding-top: 200px;
        width: 100%;
        height: 700px;
        background-image: url(../assets/pics/book_secondbg.jpg);
        .bsecond_cont {
            color: #fff;
            width: 90%;
            display: flex;
            justify-content: flex-end;
            margin: 0 auto;
            .bsecond_tfield {
                padding-left: 32px;
                padding-top: 50px;
                padding-right: 22px;
                width: 90%;
                height: 400px;
                background-color: rgba(0,0,0, 0.8);
                .country{
                    margin-bottom: 28px;
                }
                .hotelname{
                    margin-bottom: 28px;
                }
                .hotel_descr{
                    margin-bottom: 30px;
                }
            }
            .bookbtn {
                width: 230px;
                height: 60px;
                background: rgb(73,107,254);
                background: linear-gradient(51deg, rgba(73,107,254,1) 35%, rgba(97,151,252,1) 35%);
                border: none;
                color: #fff;
                cursor: pointer;
            }
        }
    }
}

@media only screen and (max-width: 400px) {
    
    .whyus {
        width: 100%;
        height: 680px;
        background-image: url(../assets/pics/whyusbg.jpg);
        padding-top: 100px;
        .whyiscontent {
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: #fff;
            width: 95%;
            margin: 0 auto;
            .whyustext {
                padding-top: 40px;
                width: 100%;
            }
            .whyuspics {
                display: none;
                margin: 0 auto;
              .whyusfirstpic {
                display: none;
                margin: 0 auto; 
              }
              .whyussecpic {
                  display: none;
                  margin: 0 auto;
              }
          }
          .whyusarticle {
              height: 90%;
          }
          .whyusbtn {
            margin: 0 auto;
            margin-bottom: 20px;;
          }
        }
    }

    .booking_first {
        padding-top: 160px;
        width: 100%;
        height: 700px;
        background-image: url(../assets/pics/book_firstbg.jpg);
        .bfirst_cont {
            color: #fff;
            width: 90%;
            display: flex;
            margin: 0 auto;
            justify-content: center;
            .bfirst_tfield {
                padding-right: 20px;
                width: 90%;
                height: 500px;
                background-color: rgba(0,0,0, 0.8);
            }
            .bookbtn {
                height: 60px;
            }
        }
    }
    
    .booking_second {
        padding-top: 160px;
        width: 100%;
        height: 700px;
        background-image: url(../assets/pics/book_secondbg.jpg);
        .bsecond_cont {
            color: #fff;
            width: 90%;
            display: flex;
            justify-content: center;
            margin: 0 auto;
            .bsecond_tfield {
                padding-right: 20px;
                width: 90%;
                height: 500px;
                background-color: rgba(0,0,0, 0.8);
            }
            .bookbtn {
                height: 60px;
            }
        }
    }

    

    .feedbacks {
        padding-top: 120px;
        width: 100%;
        height: 730px;
        background-image: url(../assets/pics/feedback_bg.jpg);
        .feedhead{
            text-align: center;
            color: #fff;
            margin-bottom: 50px;
        }
        .feed_cont{
            background-color: rgba(0, 0, 0, 0.5);
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 auto;
            height: 320px;
            width: 90%;
            align-items: center;
            .feed_pic{
                display: none;
            }
            .feed_text {
                color: #fff;
                margin: 0 auto;
                padding-top: 20px;
                padding-right: 20px;
                padding-left: 20px;
                font-size: 12px;
                line-height: 18px;
            }
        }
      
    }

    
}